.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .drawer {
    transform: translateX(0);
  }
}

.drawer {
  display: flex;
  flex-direction: column;

  width: 420px;
  height: 100%;

  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  position: absolute;
  right: 0px;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: translateX(100%);
  transition: transform 0.1s ease-out;

  .cartBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .items {
    overflow: auto;
    margin-bottom: 40px;
    flex-grow: 10;
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      transition: transform 0.2s ease-in-out;
      position: absolute;
      right: 30px;
      top: 20px;
    }
  }
}

.greenButton {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #9dd558;
  border-radius: 18px;
  height: 55px;
  color: white;
  border: 0;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default !important;
  }

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.items {
  flex: 1;
}

.cartEmpty {
  justify-content: center;
  flex-grow: 1;

  button {
    width: 245px;
    position: relative;

    img {
      position: absolute;
      transform: rotate(180deg);

      top: 20px;
      left: 25px;
    }
  }

  p {
    text-align: center;
    width: 285px;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
