.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
  
    .cartItemImg {
      height: 70px;
      width: 70px;
      background-size: contain;
      background-position: 0 -3px;
      background-repeat: no-repeat;
      margin-right: 20px;
    }
  
    p {
      font-size: 14px;
      margin: 0;
    }
  
    b {
      font-size: 14px;
    }
  
    .removeBtn {
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
}
  
.items {
    flex: 1;
  }
  